
  <h1 class="text-5xl font-bold tracking-tight mb-6">A/B testing with Angular & <b class="mark">A/BBY</b></h1>
  <p class="mb-4">In this demo we use cookies to assign a bucket with the variant to show. Visit one of the pages below and a bucket will be assigned to you.</p>
  <ul class="pl-6 list-disc">
    <li>
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-link hover:decoration-pink-300 transition-colors no-underline">/home</a>
    </li>
    <li>
        <a routerLink="/marketing" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-link hover:decoration-pink-300 transition-colors no-underline">/marketing</a>
    </li>
  </ul>
  <p class="text-base font-normal mt-4">If you see this text the <b>client flag</b> is enabled</p>
  <p class="text-base font-normal mt-4">If you see this text the <b>server side flag</b> is enabled</p>
  <p class="text-base font-normal mt-4">If you see this the <a routerLink="/feature-route">/feature-route</a>, the <b>routing flag</b> is enabled</p>