/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mark {
    position: relative;
    display: inline-block;
    z-index: 0;
  }
  
.mark::before {
    /* Highlight color */
    @apply bg-pink-300;
  
    content: "";
    position: absolute;
    width: calc(100% + 12px);
    height: 80%;
    left: -6px;
    bottom: 5px;
    z-index: -1;
    transform: rotate(-1deg);
}